html {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(to right,white, burlywood);
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  color:darkolivegreen;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro {
  padding: 15px;
  text-align: center;
  font-family: 'Atkinson Hyperlegible';
}

p{
  font-size: 23px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width:60%;
}

a:link {
  color:green;
}

a:visited {
  color: darkorchid;
}

a:hover {
  color: red;
  font-size: 1.1em;
}

a {
  transition-duration: 0.5s;
  transition-property: font-size, color;
}
h2{
  font-size:35px;
}
table{
  border-style:solid;
  border-color:black;
  border-bottom-style:none;
  border-right-style:none;
}
th{
  border: 3px;
  border-right-style:solid;
  border-bottom-style:solid;
  font-size:20px;
  
}
td{
  border: 3px;
  border-right-style:solid;
  border-bottom-style:solid;
  font-size:18px;
}
li{
  font-size:20px;
}
.topnav{
  overflow:hidden;
  background-color:black;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
  background-color:gray;
}
body{
  margin:0;
}
.text {
  padding-left: 15px;
}
.imgA{
  position:absolute;
  top:135px;
  right:125px;
  height:250px;
}
.imgB{
  position:absolute;
  top:500px;
  right:125px;
  height:300px;
}
.ImgA{
  position:absolute;
  top:135px;
  right:125px;
  height:300px;
}
.ImgB{
  position:absolute;
  top:500px;
  right:125px;
  height:260px;
}